@import-normalize;

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans.woff) format("woff");
  font-style: normal;
  font-weight:300;
  font-display:swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensansbold.woff) format("woff");
  font-style: normal;
  font-weight:700;
  font-display:swap;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body{
  font-family: 'Open Sans', Arial,  sans-serif;
  font-size: 16px;
}
.header {
  padding:20px;
  background-color: #24292e;
  display: flex;
  flex-direction: row;
  color:white;
  align-items: center;
  justify-content: space-between;
}
.header_btn {
  max-width: 200px;
  min-width: 120px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-wrapper {
  margin: 50px auto 0;
  text-align: center;
}
.form-header {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -.5px;
  text-align: center;
  margin-bottom:20px;
}
.form-label {
  display: block;
  margin-bottom:10px;
}
.form-input {
  border: 1px solid #d1d5da;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 100%;
}
.form-error {
  color:tomato;
  margin-bottom: 10px;
  font-size: 13px;
}
.btn-primary {
  background: #24292e;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  color:white;
}
.btn-primary:focus, .btn-primary:hover {
  color: #1890ff;
}
.or {
  padding-top: 20px;
  padding-bottom:20px;
  font-size: 12px;
}
.article-lite {
  width:350px;
  height: 200px;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
}
.article-lite_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background: lightgrey;
  padding: 0 10px 0 10px;
  height:20%;
}
.article-lite_body {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  height:80%;
  padding: 0 10px 0 10px;
}
.article-lite_title {
  height:60%;
}
.article-lite_date {
  height:10%;
  font-size: 12px;
  align-self: flex-end;
}
.article-lite_tags {
  height:30%;
  border-top: 1px solid lightgrey;
}
.articles-list {
  padding-top:50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pagination {
  text-align:center;
}